doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title My first app
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2018 Guanqiao Ding