body {
    background: #141414;
}

h1 {
    font-family: 'Ranga', cursive;
    font-size: 3.5rem;
    letter-spacing: 0.07em;
    transition: background 600ms;
}

/* Navbar */
#bar {
    background: white;
}

.bar-item {
    background: white;
    text-decoration: none;
    transition: all 300ms;
}

.bar-item:hover,
.bar-item:active {
    text-decoration: none;
    cursor: pointer;
}

.btn {
    vertical-align: baseline;
    border-radius: 0;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu>.dropdown-item:hover {
    cursor: pointer;
    transition: all 300ms;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

/* Contents */
.board {
    width: 60%;
}

.square {
    padding-bottom: 25%;
    border-radius: 15%;
    transition: all 600ms;
}

#message {
    min-height: 45px;
    font-size: 1.5rem;
    letter-spacing: 0.07em;
}

/* Extra small screen */
@media (max-width: 768px) {
    h1 {
        font-size: 11vw;
    }
}