extends layout

block content
    div#welcomeContainer.container.d-flex.flex-column.justify-content-center
        div#welcomeText.text-white
            h1.display-4.mb-3 Welcome to MicroBlog!
            p.lead.mb-5 Find your way home with fascinating moments recorded.
            a.ui.inverted.button(href="/blogs") View all posts
        div#blogEnd